<div class="content-heading">
  <div>Team Memberships
    <small>Scheduling teams you are subscribed to</small>
  </div>
</div>
<div class="card card-default">
  <div class="card-header">My Teams
    <a class="text-info pointer float-right" [routerLink]="[routeService.ROUTES.editTeam, 'new']">Create A Team</a>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Role</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <th><a [routerLink]="[routeService.ROUTES.editTeam, team.uid]">{{team.name}}</a></th>
        <td>{{team.description}}</td>
        <td>{{team.isUserAdmin ? 'Administrator' : 'Member'}}</td>
        <td>{{team.memberIds.length}}</td>
      </tr>
    </tbody>
  </table>
</div>